@using WebshopMVC.Models;
@model IEnumerable<Product>;

<!DOCTYPE html>
    <html>
    <head>
        <title>Webshop</title>
    </head>
    <body>
        <a href="/cart/index">Kosár</a>
        <table>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
        @foreach (Product item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Price</td>
                    <td><a href="/cart/add?id=@item.Id&q=2">+</a></td>
                </tr>
            }       
    
        </table>
    </body>
    </html>