<!DOCTYPE html>
    <html>
    <head>
        <title>Rendelés</title>
    </head>
    <body>
        <form action="/cart/checkout" method="post">
            <input type="text" name="name" placeholder="Név" value="" />
            <br />
            <input type="text" name="address" placeholder="Szállítási cím" value="" />   
            <br />
            <input type="tel" name="phonenumber" placeholder="Telefonszám" value="" />
            <br />
            <input type="submit" name="submit" value="Rendelés leadása" />
        </form>
    </body>
    </html>