@using WebshopMVC.Models;
@model IEnumerable<CartItem>;
<!DOCTYPE html>
    <html>
    <head>
        <title>Kosár</title>
    </head>
    <body>
        <div>
            
                @foreach (CartItem item in Model)
                {
                    <div>@item.Product.Name @item.Product.Price Ft @item.Quantity Darab <a href="/cart/delete?id=@item.Product.Id">X</a></div>
                }
            
        
        </div>
    </body>
    </html>